<nav class = "navbar navbar-default" role = "navigation">

   <div class = "navbar-header">
      <a class = "navbar-brand" href = "#">Scarlet Travels</a>
   </div>
      <ul class = "nav navbar-nav">
         <li class = "active"><a href = "#"><i class="fa fa-home" style="font-size:20px;"></i> Home</a></li>
         <li><a href = "#"><i class="	fa fa-map-o" style="font-size:20px;"></i> Tours</a></li>
         <li><a href = "#"><i class="fa fa-image" style="font-size:20px;"></i> Gallery</a></li>
         <li><a href = "#"><i class="fa fa-id-card-o" style="font-size:20px;"></i> Testimonial</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right" style="padding-right:10px;">
        <li><a href="#"><i class="fa fa-user-circle-o" style="font-size:20px;"></i> My Profile</a></li>
        <li><a href="#" (click)="logout()" ><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>

</nav>
