body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #e8e8e8;
}

.sidebar_ul{
  list-style-type: none;
}
.sidebar_ul li {
  padding: 10px;
  text-align: center;
  background-color: #009688;
  margin-top: 5px;
  color: #fff;
}

.sidebar_ul li:hover {
  padding: 10px;
  text-align: center;
  background-color: #00ff7b;
  margin-top: 5px;
  color: #fff;
}


.sidebar_ul li a{
  margin-top: 5px;
  color: #fff;
  text-decoration: none;
}


.add-btn{
  color:#fff;
  padding: 4px;
  text-decoration: none;
  background-color: #5D6D7E;
  border-radius: 5px;
  margin-top: -24px;
}

.add-btn:hover{
  background-color: #E92344
}


.table .thead-dark th {
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border: 1px solid #009688;
}

.table .thead-dark th{
    color: #fff;
    background-color: #009688;
    border-color: #009688;
}

.custom-day {
      text-align: center;
      padding: 0.185rem 0.25rem;
      display: inline-block;
      height: 2rem;
      width: 2rem;
    }
    .custom-day.focused {
      background-color: #e6e6e6;
    }
    .custom-day.range, .custom-day:hover {
      background-color: rgb(2, 117, 216);
      color: white;
    }
    .custom-day.faded {
      background-color: rgba(2, 117, 216, 0.5);
    }

.required{
  color:red;
}

.li_active{
  padding: 10px;
  text-align: center;
  background-color: #00ff7b!important;
  margin-top: 5px;
  color: #fff;
}
