<app-header></app-header>
  <div class="">
      <div class="sidbar col-sm-3">
          <ul class="sidebar_ul">
            <li (click)="showSlider($event)" [className]="(homeslider)?'li_active':''"><a href="#" >Home Slider</a></li>
            <li  (click)="showOffer($event)" [className]="(homeoffer)?'li_active':''"><a href="#" >Home Offers</a></li>
          </ul>
      </div>
      <div class="contain col-sm-9" style="margin-top: 5px;">
        <div class="homeslidercontain" *ngIf="homeslider">
          <chiri-panel>
            <div class="chiri-heading">Home Slider</div>
            <div class="chiri-btn-add"><a class="pull-right add-btn" data-toggle="modal" data-target="#add-home-slider-btn"><i class="fa fa-plus"></i> Add Slider</a></div>
            <div class="chiri-body">Home Body</div>
          </chiri-panel>
        </div>
        <div class="homeoffercontain" *ngIf="homeoffer">
          <chiri-panel>
            <div class="chiri-heading">Home Offer</div>
            <div class="chiri-btn-add"><a class="pull-right add-btn" data-toggle="modal" data-target="#add-home-offer-btn"><i class="fa fa-plus"></i> Add Offer</a></div>
            <div class="chiri-body">Home Body</div>
          </chiri-panel>
        </div>
      </div>
  </div>


  <chiri-modal [idval]="'add-home-slider-btn'">
    <div class="chiri-modal-title">Home Slider</div>
    <div class="chiri-modal-body">
      <form #homeSlider="ngForm" (ngSubmit)="saveHomeSlider(homeSlider)">

          <div class="cross-validation" [class.cross-validation-error]="(homeSlider.touched || homeSlider.dirty)">
            <div class="form-group">
              <label for="file">Slider Image:<span class="required">*</span></label>
              <input  name="file_slider" type="file"
               class="form-control"  [(ngModel)]="modelSlider.file" #file_slider="ngModel" required
                (change)="handleFileInput($event.target.files)" id="file_slider">

              <div *ngIf="file_slider.invalid && (file_slider.dirty || file_slider.touched)"
                  class="alert alert-danger">

                <div *ngIf="file_slider.errors.required">
                  File is required.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="description">Description:<span class="required">*</span></label>
              <textarea  class="form-control"  name="description_slider" placeholder="Please Enter"
               [(ngModel)]="modelSlider.description" #description_slider="ngModel" required id="description_slider"></textarea>

               <div *ngIf="description_slider.invalid && (description_slider.dirty || description_slider.touched)"
                   class="alert alert-danger">

                 <div *ngIf="description_slider.errors.required">
                   Description is required.
                 </div>
               </div>
            </div>
            <button type="submit" class="btn btn-success"
                         [disabled]="homeSlider.invalid">Add Slider</button>
          </div>

      </form>
    </div>
  </chiri-modal>

  <chiri-modal [idval]="'add-home-offer-btn'">
    <div class="chiri-modal-title">Home Offer</div>
    <div class="chiri-modal-body">
      <form #homeOffer="ngForm" (ngSubmit)="saveHomeOffer(homeOffer)">

          <div class="cross-validation" [class.cross-validation-error]="(homeOffer.touched || homeOffer.dirty)">
            <div class="form-group">
              <label>Slider Image:<span class="required">*</span></label>
              <input type="file" class="form-control"   placeholder="Please Enter"
                [(ngModel)]="modelOffer.file" name="file_offer" id="file_offer"
                #file_offer="ngModel" required>

              <div *ngIf="file_offer.invalid && (file_offer.dirty || file_offer.touched)"
                  class="alert alert-danger">

                <div *ngIf="file_offer.errors.required">
                  Description is required.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="description">Description:<span class="required">*</span></label>
              <textarea  class="form-control" placeholder="Please Enter" id="description_offer"
                          [(ngModel)]="modelOffer.description" name="description_offer"
              #description_offer="ngModel" required></textarea>

              <div *ngIf="description_offer.invalid && (description_offer.dirty || description_offer.touched)"
                  class="alert alert-danger">

                <div *ngIf="description_offer.errors.required">
                  Description is required.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="ci">Start Date -End Date:<span class="required">*</span></label>
              <input  name="daterange_offer" [(ngModel)]="modelOffer.daterange" id="daterange_offer"
                class="form-control" type="text" bsDaterangepicker [bsConfig]="datePickerConfig"
                  placeholder="Please Select" #daterange_offer="ngModel" required />
                  <div *ngIf="daterange_offer.invalid && (daterange_offer.dirty || daterange_offer.touched)"
                      class="alert alert-danger">
                    <div *ngIf="daterange_offer.errors.required">
                      Description is required.
                    </div>
                  </div>
            </div>
    </div>

        <button type="button" class="btn btn-success text-center" [disabled]="homeOffer.invalid">Add Offer</button>
      </form>
    </div>
  </chiri-modal>

<app-footer></app-footer>
